@media print {
	.top-bar, .main-menu-wrapper, .navbar-wrapper, a.person-wrapper, .footer
		{
		display: none
	}
	.container h2 {
		color: #000;
		border: 0
	}
	.container .person-wrapper-content {
		display: block
	}
	.container .person-wrapper-content img {
		max-width: 200px
	}
	.page img {
		padding: 0;
		border: 0
	}
}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */